events {}

http {
    upstream {{ P2P_PUBLIC_HOST }}  {
        server localhost:30001;
   }

    server {
        server_name {{ P2P_PUBLIC_HOST }};

        location / {
            proxy_pass                    http://127.0.0.1:30001;
            proxy_ssl_protocols           TLSv1 TLSv1.1 TLSv1.2;
            proxy_ssl_ciphers             HIGH:!aNULL:!MD5;
        }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ P2P_PUBLIC_HOST }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ P2P_PUBLIC_HOST }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    }

    server {
    if ($host = ibp-monitor) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

        listen      80;
        server_name ibp-monitor;
        return 404; # managed by Certbot
    }
}
